<button (click)="createGameClick()" [disabled]="gameId">
    Create Game
</button>

<div class="game-state-container" *ngIf="gameId">
    <div>
        Players:
    </div>
    <div *ngFor="let player of playersInGame">
        {{player}}
    </div>
    <div>
        Game State: {{gameState}}
    </div>

    <button (click)="startGameClick()" [disabled]="!canStartGame()">
        Start Game
    </button>



    
</div>

<button (click)="addPlayerClick()" [disabled]="!gameId">
    Add Player
</button>
<app-player-gen [gameId]="gameId" *ngFor="let player of blankPlayerIter">

</app-player-gen>