<div [class.player-gen-container]="true" [id]="getId()" [class.player-active]="!folded" [class.player-folded]="folded">
    <div>
        Player {{playerIdx}}
    </div>

    <div>
        Address {{getAddress()}}
    </div>
    <div>
        Address {{stack}}
    </div>
    <button (click)="join()" [disabled]="alreadyJoined || !gameId">
        Join
    </button>

    <div class="outstanding-bet">
        Outstanding Bet: {{outstandingBet}}
    </div>
    <div class="error-text">
        {{errMsg}}
    </div>
    <input [(ngModel)]="betInput" type="number" class="bet-amount" />

    <button (click)="makeBetClick()" [disabled]="!needsBet" class="bet-button">
        Make bet
    </button>
    <button (click)="checkClick()" [disabled]="!canCheck()" class="check-button">
        Check
    </button>
    <button (click)="foldClick()" [disabled]="!needsBet" class="fold-button">
        Fold
    </button>

    <div>
        Pocket Cards
    </div>
    <div *ngFor="let card of pocketCards">
        <div>
            Card: {{card.value}}{{card.suit}}
        </div>
    </div>

    <div>
        Table Cards
    </div>
    <div *ngFor="let card of tableCards">
        <div>
            Card: {{card.value}}{{card.suit}}
        </div>
    </div>

</div>