<div 
[class.player-gen-container]="true"
[class.player-active]="!folded"
[class.player-folded]="folded"
>
    Player {{getAddress()}}
    <button (click)="join()" [disabled]="alreadyJoined || !gameId">
        Join
    </button>

    <div>
        Outstanding Bet: {{outstandingBet}}
    </div>
    <div class="error-text">
        {{errMsg}}
    </div>
    <input [(ngModel)]="betInput" type="number" />

    <button (click)="makeBetClick()" [disabled]="!needsBet">
        Make bet
    </button>
    <button (click)="foldClick()" [disabled]="!needsBet">
        Fold
    </button>


    <div *ngFor="let card of cards">
        <div>
            Card: {{card.value}}{{card.suit}}
        </div>
    </div>

</div>