.key-drop-area {
    height: 300px;
    width: 300px;
    background-color: lightskyblue;
}

.player-gen-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}

.player-active {
    background-color: lightskyblue;
}

.player-folded {
    background-color: lightgrey;
}

.game-state-container {
    background-color: lightcoral;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}

.error-text {
    color: orangered;
}

/* #player-1>button.bet-button {
    color: red
} */

